@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .p-screen {
    @apply px-3 sm:px-16;
  }
}

@layer base {
  h1 {
    @apply font-bebas lg:text-9xl md:text-8xl sm:block  text-6xl;
  }

  h2 {
    @apply font-bebas lg:text-8xl md:text-7xl sm:block  sm:text-7xl text-5xl;
  }
  p {
    @apply text-2xl lg:text-3xl font-sans;
  }
}
